/* con esto se resetean los estilos de la pagina completa */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --colornegro: #000;
    --colorenlaces: #fff; 
    --colorazul: #3B82F6;
    --colorseleccion:  #245cb7;
    --colorCuentaDash: #00000037;
    --colorBordesTargetas: #3b83f686;
}
/* contenedor principal, con z index 2 para que quede abajo, mientras mas bajito, es menor la capa */
.contenedor-principal {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
/* este es el contenedor del login */
.contenedor-principal2 {
    margin: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
    position: relative;
    overflow: hidden;
}
/* este es el contenedor de la sección negra, el clip-path es con lo que se le da la forma a la seccion, z index 1 para que esté por debajo */
.seccion-negra {
    width: 55%;
    height: 100%;
    background-color: var(--colornegro);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: ellipse(95% 100% at 0% 50%);
    padding-right: 10%;
    z-index: 1;
}
/* seccion negra del login, lo del margin en negativo es para poder alinearlo junto con el login flotante */
.seccion-negra2 {
    width: 100%;
    height: 100%;
    background-color: var(--colornegro);
    color: white;
    display: flex;
    box-sizing: content-box;
    clip-path: ellipse(100% 54% at 50% 100%);
    /* z-index: 1; */
    /* margin-right: -34%;  */
    /* padding-right: 20px; */
}

.contenido {
    max-width: 400px;
    font-family: 'Arial', sans-serif;
}
/* el nombre y presentacion de la empresa. */
.contenido h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    margin: 30px 0;
}
/* esto es para darle el estilo a las mayusculas del nombre, en este caso negritas en las mayusculas */
.contenido h1 span {
    font-size: 3rem;
    display: inline-block;
    font-weight: bold;
}
/* el boton del inicio */
.btn-trabaja {
    background-color: var(--colorazul);
    color: white;
    border: none;
    padding: 16px 24px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    text-decoration: none;
}
/* esto es para la animacion del boton del principio */
.btn {
    transition: 0.17s ease-in;
    padding: 20px;
}

.btn:hover {
    transform:scale(1.06);
}
/* aqui es donde esta la imagen de la derecha en la pagina de presentacion */
.seccion-derecha {
    flex: 1;
    height: 100%;
    background: wheat url(../image/principal.jpg);
    margin-left: -180px;
}
/* el logo AGE, los estilos */
.logo {
    max-width: 90%;
    margin-top: -100px;
    margin-left: -70px;
    padding-top: 0;
    overflow: hidden;
}
/* este es el contenedor donde se encuentra el login */
.login {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding: 50px;
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    z-index: 3;
    /* margin-right: -60%; */
    gap: 10px;
    padding-bottom: 30px;
    width: 25%;
    position: fixed;
} 
/* aqui se le dan unos estilos al input del login, se podria usar tambien en los demas input */
.login input {
    padding: 12px 14px;
    width: 100%;
    border: 1px solid #d7ddbb;
    border-radius: 7px;
    margin-bottom: 16px;
    font-size: 1rem;
    outline: none;
    background: #fff;
}
/* el contenedor pero del login, en este caso creo que no haria falta hacerlo para cada pagina, nomas ponerle la misma clase */
.contenedor-principal2 {
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
/* el boton de login, a diferencia del que esta en el incio, este es un boton con input y no un enlace */
.botonlog {
    display: flex;
    padding: 10px;
    background-color: var(--colorazul);
    justify-content: center;
    border-radius: 8px;
    margin-top: -15px;
    width: 100%;
    border: none;
}
/* este lo que hace es cambiar la fuente y el tamaño del contenido del boton */
.login button {
    text-decoration: none;
    color: var(--colornegro);
    font-size: 1rem;
    font-weight: bold;
}
/* dice boton iniciar porque es el form que se llama asi, se le esta aplicando al <form> */
.botoniniciar {
    transition: 0.17s ease-in;
}
.botoniniciar:hover {
    transform: scale(1.1,1.1);
}
/* aca dice forgot, como lo dice son los enlaces de recuperacion, olvido su contrasenia y regresar, ambos. */
.forgot {
    display: flex;
    justify-content: space-between;
}
/* lo mismo aca, pero este es el enlace de crear una cuenta. */
.creacuenta a{
    display: flex;
    justify-content: end;
    margin-top: -25px;
}
/* --------------------------------------------------- RESPONSIVE --------------------------------------------------------------------------- */
/* para pantallas pequeñas, ahi dice con un máximo de 595 pixeles de ancho, osea toda pantalla que sea menor a eso de ancho, se aplicará eso */
@media screen and (max-width: 595px) {
    
    .targetas {
        grid-template-columns: repeat(1, 1fr);
        grid-column-start: 5;
        grid-row: 1 / 4;
    }

    .logonav {
        display: none;
    }

    .nav ul li a{
        opacity: 0;
        width: 1px;
        font-size: 10px;
    }

    .login {
        width: 60%;
        margin-right: 0;
        box-sizing: content-box;
    }

   .contenido {
        margin-left: 15%;
        font-size: 10px;
        object-fit: contain;
    }
    
    .logo {
        margin-top: -50px;
        
    }
    .seccion-negra {
        width: 100%;
        height: 100%;
        padding-right: 20px;
        margin-right: -10px;
    }

    .perfil-dash {
    grid-column: 10 / 13;
    grid-row: 1;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    margin-top: -65px;
    z-index: 3;
}

.perfil-dash h6 {
    display: none;
}

.perfil-dash h4 {
    display: none;
}

.footerNav {
    font-size: 6px;
    margin: 5px;
    text-align: center;
}
}
/* pantallas medianas, dice que a partir de un ancho de 595, hasta un máximo de 1000pixel se aplicarán estos ajustes */
@media screen and (min-width: 595px) and (max-width:1000px) {

    .targetas {
        grid-template-columns: repeat(2, 1fr);
        grid-column-start: 4;
        grid-row: 1 / 4;
    }

    .logonav {
        display: none;
    }

    .nav ul li a{
        opacity: 0;
        width: 1px;
        font-size: 10px;
    }

    .login {
        width: 40%;
        margin-right: 0;
        box-sizing: content-box;
    }
    
    .seccion-negra {
        width: 70%;
        height: 100%;
    }

    .perfil-dash {
    grid-column: 10 / 13;
    grid-row: 1;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    margin-top: -60px;
    z-index: 3;
}

.perfil-dash h6 {
    display: none;
}

.perfil-dash h4 {
    display: none;
}

.footerNav {
    font-size: 12px;
    margin: 5px;
    text-align: center;
}

}
/* pantallas grandes, de escritorio, quizá aqui haya que hacer algo con las pantallas full hd (1920 x 1080) porque creo que se verá estirado, de todas formas es eso mismo, a partir de 1000px hasta 1920px */
@media screen and (min-width: 1000px) and (max-width:2160px) {

    .targetas {
        grid-template-columns: repeat(3, 1fr);
        grid-column-start: 4 / 12;
        grid-row: 1 / 4;
    }

    .nav ul li a{
        opacity: 1;
    }

    .perfil-dash {
    grid-column: 10 / 13;
    grid-row: 1;
    /* background-color: var(--colorCuentaDash); */
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    margin-top: -60px;
    z-index: 3;
}

.perfil-dash h6 {
    margin-left: -25px;
    margin-top: 0.7mm;
    z-index: 3;
}

.footerNav {
    margin: 5px;
    text-align: center;
    margin-top: 17px;
    font-size: smaller;
}
}
/* ---------------------------------------------------------------------------------------------------------- */
/* Esto es un botón, es el de los formularios de registro e inicio de sesión */
.inicioreg {
    font-size: smaller;
    margin-bottom: 10px;
    text-decoration: none;
    transition: 0.1s;
}

.inicioreg:hover {
    transform: scale(1.02);
}

.inicioreg:last-child{
    margin-bottom: 0;
}
/* Este es el contenedor de todas las demás páginas, con esto me refiero a excepción de index y los formularios */
.contenedor {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8 , 1fr);
    width: 100%;
    height: 100%;
}
/* El título de cada página, tiene la misma clase. */
.tit {
    grid-column: 1 / 13;
    grid-row-end: 1;
    text-align:center;
    background-color:#ededed;
    line-height: 2;
    box-shadow: 4px 5px 10px #ccc;  
    z-index: 2;
    /* border-bottom: solid 1px #ededed; */
}
/* el cuerpo del nav, todo lo que se ve negro, esto es un contenedor básicamente */
.navlateral {
    grid-column: 1 / 2;
    background-color: var(--colornegro);
    position: fixed;
    height: 100%;
    width: 12%;
    object-fit: contain;
    z-index: 5;
}

/* estos son los enlaces del nav, las letras básicamente */
.navlateral a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    color: var(--colorenlaces);
    object-fit: contain;
}
/* aca le aplico varios estilos a las litas del nav, que es donde están los enlaces, estructurados en listas */
.navlateral li {
    padding: 20px;
    transition: 0.2s;
    display: flex;  
}

li:hover {
    background-color: var(--colorazul);
}

/* El logo */
.logonav {
    margin: 25px;
}

/* los iconos del nav */
.fa-solid { 
    color:var(--colorenlaces);
    margin-right: 7px;
}

.nav-Config {
    grid-column: 3 / 5;
}

.infocliente, .infoempleado {
    grid-column: 3/5;
}
/* El color de selección del nav */
.seleccionadoNav {
    background-color: var(--colorseleccion);
}

.fa-people-group {
    margin-left: -1px; 
}

.fa-file-invoice {
    margin-left: 3px;
}

.resend {
    margin-bottom: 10px;
}
/* Esto es de facturación */
.seleccion {
    grid-column: 3 / 13;
    grid-row: 1;
    display: flex;
    align-items: start;
    margin-top: 20px;
}

.tabla-listas {
    grid-row: 1 ;
    grid-column: 3 / 12;
    margin-top: 70px;

}

.tabla-listas th {
    border: 1px solid #626262;
    padding: 10px;
}

.dcto {
    text-align: center;
}

.tabla-listas .superiorTabla th {
    padding: 10px;
    background-color: #979797;
    text-align: justify;
}
/* span con la clase texto lista */
.textLista {
    color:var(--colorenlaces);
}

::placeholder {
    color:var(--colornegro);
}

.totales {
    grid-row: 2;
    grid-column: 9 / 11;
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 10px;
    font-size: larger;
    line-height: 2;
}

.totales h5 {
    border-bottom: 1px solid var(--colorCuentaDash);
}

.btn-factura {
    background: none;
    border: none;
    padding: 10px;
    margin: 10px;
    transform: scale(2.1);
    z-index: 3;
}

.fa-share-from-square {
    color: var(--colorenlaces);
}

.fa-regular {
    color: var(--colorenlaces);
}

.fatodo:hover {
    color: var(--colornegro);
}


/* Aqui es donde están los botones de la sección oscura de facturación y producción */
.seccion-abajo {
    padding: 20px;
    margin-top: 183px;
    margin-left: -20px;
    grid-column: 3 / 13;
    grid-row: 2;
    background-color: #979797;
    border-radius: 20px;
    height: 30%;
    width: 1040px;
    box-shadow: 5px 5px 10px #ccc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* Las targetas del dashboard, este es el bloque donde están las 6 */
.targetas {
    grid-column: 3 / 12;
    grid-row: 1 / 4;
    margin-top: 10%;
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.targ:hover {
    transform: scale(1.04);
    box-shadow: 5px 10px 10px #ccc;
}
/* las targetas pero individuales */
.targ {
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid var(--colorBordesTargetas);
    border-radius: 23px;    
    padding: 0 20px 15px 0;
    width: 100%;
    height: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 5px 4px 10px #ccc;
    transition: 0.3s;
}

/* Este seria el boton de cada tarjeta */
.targ a {
    margin-top: 15px;
    text-decoration: none;
    background-color: var(--colorazul);
    border-radius: 20px;
    color: var(--colorenlaces);
    padding: 10px 15px 10px 15px;
    transition: 0.2s;
}

.targ a:hover {
    background-color: var(--colorseleccion);
}
/* El botón de cada tarjeta */
.botonver {
    z-index: 3;
    /* margin-top: 50px;
    margin-bottom: -45px; */
    margin-left: 10px;
}

.targe {
    padding: 10px;
}
/* El titulo o texto de referencia de cada tarjeta */
.tittarge {
    margin-top: 10px;
    margin-left: 20px;
}
/* -------------------------------- Algunos estilos de listas, facturación y producción ------------------------------------------------ */
/* En este caso es casi todo de producción */
.tabla-listas-2 {
    grid-row: 2;
    grid-column: 4;
}

.abajo2 {
    margin-top: 157px;
    justify-content: space-evenly;
    align-content: center;
    height: 30%;
}

.totales2 h5 {
    border-bottom: 1px solid var(--colorCuentaDash);
}

.totales2 {
    grid-row: 1;
    grid-column: 9 / 12;
    display: flex;
    flex-direction: column;
    margin-left: 45px;
    margin-top: 162px;
    margin-bottom: -65px;
    gap: 30px;
    font-size: larger;
    line-height: 2; 
}

.botonesfactura {
    grid-row: 2 / 2;
    grid-column: 3/12;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 90px;
}

.botonesfacturas {
    grid-column: 3 /12;
    grid-row: 2;
    margin-top: 133px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 3;
}

#cliente {
    margin-left: 10px;
    width: 20%;
    margin-top: 13px;
}

.agregarfactura {
    grid-column: 3 / 12;
    grid-row: 1 / 9;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: justify ;
}

.textoF {
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 1px solid var(--colorCuentaDash);
    width: 100%;
    font-size: large;
}

#tipo-factura {
    margin-top: 10px;
    width: 100%;
}

.formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formulario input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    background-color: #fff;
    color: #000;
    width: 100%;
}

.opcionesF {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.crearfactura-btn {
    margin-top: -20px;
}

.previewF {
    text-align: center;
    color: #00000037;
    margin: 10px;
}

.factura-preview {
    color: #00000037;
    text-align: center;
}

.formulario div, label {
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
}
/* -------------------------------------------------------------------------------------------------------------------------------------- */
/* Esto es donde sale el usuario y su nombre, junto con el botón de cerrar sesion */
/* Este es el enlace */
.perfil-dash a {
    text-decoration: none;
    padding: 10px;
    color: var(--colornegro);
    transition: 0.3s;
}

.perfil-dash a:hover {
    transform: scale(1.03);
}
/* ------------------------------------------------------- Estilos clientes ------------------------------------------------------------ */
.contenedor-clientes {
    background-color: #fff;
    border: 1px solid #ccc;
    /* Seguir una sintaxis de las sombras  */
    box-shadow:  6px 8px 10px #ccc;
    grid-row: 2;
    grid-column: 4/12;
    width: 100%;
    height: 100%;
    margin: 15px 0px;
    border-radius: 10px ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#lineaclientes {
    grid-row: 2;
    grid-column: 1/12;
}

.fa-user {
    color: var(--colornegro);
}

.interaccion-cliente{
    margin: 30px auto auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1/12;
    grid-column: 4/12;
    width: 100%;
}
/* Boton de aniadir */
.btn-aniado{
    width: 100%;
    padding: 10px;
    grid-column: 12;
    grid-row: 3;
}

.btn-aniado input {
    background-color: var(--colorazul);
    color: #fff;
    width: 100%;
    border-radius: 15px;
    border: none;
    padding: 5px;
}

.btn-aniado input:hover {
    background-color: var(--colorseleccion);
    transition: 0.1s;
}
/* Tablas */
.tabla-clientes  {
    grid-column: 1/12;
}

.tabla-clientes thead {
    padding: 12px;
    width: 100%;
}

.tabla-clientes tr:hover{
    background-color: #ccc;
    width: 100%;
    grid-column: 1/13;
}
/* Barra de buscar */
.buscar-cliente {
    grid-column: 1/5;
    padding: 10px;
    grid-row: 3;
}

.buscar-cliente input {
    border-radius: 8px;
    padding: 5px;
    width: 300px;
}
/* -------------------------------- Estilos Agregar clientes ----------------------------- */
.contenedor-clientes {
    background-color: #fff;
    border: 1px solid #ccc;
    /* Seguir una sintaxis de las sombras  */
    box-shadow:  6px 8px 10px #ccc;
    grid-row: 2;
    grid-column: 4/12;
    width: 100%;
    height: 100%;
    margin: 15px 0px;
    border-radius: 10px ;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#lineaclientes {
    grid-row: 2;
    grid-column: 1/12;
}

/* .fa-user {
    color: var(--colornegro);
} */

.interaccion-cliente{
    margin: 30px auto auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-row: 1/12;
    grid-column: 4/12;
    width: 100%;
}
.agregar-cliente {
    background-color: #fff;
    border: 1px solid #ccc;
    /* Seguir una sintaxis de las sombras  */
    box-shadow: 6px 8px 10px #ccc;
    grid-row: 1;
    grid-column: 4/12;
    height: 100%;
    margin: 30px 0px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.agregar-cliente form{
    grid-column: 1/12;
    margin: 30px 5px;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 6px 8px 10px #ccc;
    width: 70%;
    border-radius: 10px;
}

.agregar-cliente label {
    grid-column: 1/4;
    display: flex;
    margin: 10px 10px;
    font-size: 20px;
}

.agregar-cliente input {  
    grid-column: 5/9;
    border-radius: 8px;
    margin: 10px 10px;
    width: 250px;
    height: 30px;
}

.agregar-cliente #Descripcion-cliente {
    grid-column: 1/4;
    border-radius: 8px;
    margin: 10px 10px;
    min-width: 250px;
    max-width: 250px;
    max-height: 90px;
    min-height: 90px;
}

.agregar-cliente #agrecarcbotton {
    width: 100px;
    grid-column: 7/9;
    grid-row: 6;
    background-color: var(--colorazul);
    color: #fff;
    border: none;
}

.agregar-cliente #limpiarclientebotton {
    width: 100px;
    /* height: 40px; */
    grid-column: 5/7;
    grid-row: 6;
    /* background-color: var(--colorazul);
    color: #fff; */
}

.agregar-cliente #regresar-clientes {
    color: #000;
    text-decoration: none;
    grid-column: 1;
    grid-row: 1;
    margin: 10px;
}

.agregar-cliente #imagen-AniadirCliente {
    grid-column: 10/12;
    grid-row: 1;
    margin: 50px 30px;
    max-width: 200px;
    min-width: 150px;
    max-height: 200px;
    min-height: 200px;
}
/* Boton de aniadir */
.btn-aniado{
    width: 100%;
    padding: 10px;
    grid-column: 12;
    grid-row: 3;
}

.btn-aniado input {
    background-color: var(--colorazul);
    color: #fff;
    width: 75px;
    border-radius: 6px;
    border: none;
    padding: 7px;
}

.btn-aniado input:hover {
    background-color: var(--colorseleccion);
    transition: 0.1s;
}
/* Tablas */
.tabla-clientes  {
    grid-column: 1/12;
}

.tabla-clientes thead {
    padding: 12px;
    width: 100%;
}

.tabla-clientes thead{
    border-bottom: 5px #ccc solid;
}


/* Barra de buscar */
.buscar-cliente {
    grid-column: 1/5;
    padding: 10px;
    grid-row: 3;
}

.buscar-cliente input {
    border-radius: 8px;
    padding: 5px;
    width: 300px;
}
/* ----------------------------------------------------- Estilos Agregar clientes ------------------------------------------------------- */

/* -------------------------Estilos Empleados ----------------------------------------- */
.empleadosp {
    grid-column: 1/12;
    grid-row: 3;
    font-size: 15px;
}

.empleadosp li:hover {
    background-color: #ccc;
    border-radius: 5px;
}

hr {
    grid-row: 4;
    grid-column: 1/15;
    height: 3px;
    background-color: #ccc;
    border-radius: 12px;
}
.empleadosp ul {
    display:flex ;
    text-align: center;
    
}
.empleadosp li{
    list-style: none;
    width: 90px;
    padding: 10px;
}

.empleadosp #li1{
    border-bottom: 7px solid #ccc;
    transition: 0.2s;
}
.empleadosp li a {
    text-decoration: none;
    color: #000;
}
/* ----------------------------------------------------- Estilos Inventario y Estadisticas generales ------------------------------------ */
.contenido-inventario{
    grid-column: 3 / 13;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    margin-left: -60px;
    height: 150px;
}
/* ------------------------------------------ Esta Parte es del buscador ------------------------------------ */
.topbar {
    grid-column-start: 1;
   margin-left: 20px;
   margin-top: 15px;
}

.buscador {
    display: flex;
    background-color: #f1f5f9;
    border-radius: 8px;
    padding: 6px 12px;
    width: 350px;
    border: 1px solid #cbd5e1;
}

.buscador input {
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
}

.buscador button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.buscador button i {
    color: black;
    font-size: 1.2rem;
}

.encabezado {
    margin-top: 50px;
    grid-column: 1 / 12;
    margin-left: 20px;
}

.titulo-encabezado {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 10px;
}
/* --------------------------------- Botones --------------------------------------- */
.agregarProductos {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: -340px;
    margin-top: 100px;
}

button {
    background: transparent;
    border: none;
    outline: none;
}


.btnn {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 115px;
    height: 30px;
    box-sizing: border-box;
    padding: 20px;
}

.btn-agregar {
    background-color: #3b82f6;
    color: #fff;
    border: none;
}

.btn-exportar {
    background-color: #3b82f6;
    color: #fff;
    border: none;
}

.btn-importar {
    background-color: #3b82f6;
    color: #fff;
    border: none;
}

.btnn:hover {
    background-color: #245cb7;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.212);
    transform: scale(1.05);
}

.btnn:active {
    transform: scale(0.95);
}

.agregarProductos span {
    color: white;
    font-size: 0.9rem;
}
/* ------------------------------- Esta parte es de las Cards ----------------------------------------- */
.cards {
    display: grid;
    grid-column: 1 / 13;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 90%;
    margin-left: 50px;
    margin-top: 20px;
}

div .card {
    height: 115px;
}

.card-header {
    margin-left: 90px;
    font-size: 0.7rem;
}

.card-body{
    margin-left: 90px;
    font-size: 1.7rem;
    margin-top: -50px;

}

.card-footer {
    margin-left: 90px;
    font-size: 0.9rem;
    /* margin-top: -10px; */
}

.card-header .icono1 {
    margin-left: -90px;
    background-color: rgba(131, 95, 231, 0.26);
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-top: -15px;
}

.card-header .icono2 {
    margin-left: -90px;
    background-color: #b91c1c34;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-top: -15px;
}

.card-header .icono3 {
    margin-left: -90px;
    background-color: #ece91a33;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin-top: -15px;
}

.card-header .icono1 i {
    color: rgb(131, 95, 231);
    font-size: 3rem;
    margin-left: 14px;
    margin-top: 10px;

}

.card-header .icono2 i {
    color: #b91c1c;
    font-size: 3rem;
    margin-left: 5px;
    margin-top: 13px;
}

.card-header .icono3 i {
    color: #f7ba11;
    font-size: 3rem;
    margin-left: 12px;
    margin-top: 10px;
}

.card {
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
}
/* -------------------------------------------------- Tabla Productos ----------------------------------------------- */
.seccion-productos {
    margin-top: 40px;
    margin-left: 10px;
    
}

.contenedor-productos {
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    width: 1050px;
    height: 310px;
    margin-left: 50px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
}

.titulo-tabla {
    font-size: 1.6rem;
    margin-top: 5px;
    margin-left: 9px;
}

th {
    padding: 10px 30px;
}

td {
    padding: 25px 50px;
}

.btn-accion {
    background: transparent;
    border: none;
    font-size: 1rem;

}

td, th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}

.btn-ver i, .btn-editar i {
    color: rgb(0, 0, 0);
}

.btn-eliminar i {
    color: rgb(207, 31, 31);
}
/* ------------------------------------------------- Seccion Gráficas ----------------------------------------------- */
.seccion-graficos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 400px;
    margin-left: -1050px;
}

.ulES {
    list-style: none;
}

.ulES li {
    display: inline-block;
    margin-left: 50px;
}

.colorEN {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #00ff15;
    margin-right: 5px;
    border-radius: 5px;
}

.colorSA {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    margin-right: 5px;
    border-radius: 5px;
}

div .graficoES {
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-left: -10px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
}

div .graficoPPC {
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-left: 50px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
}

.seccion-graficos h2 {
    font-size: 1.6rem;
    margin-top: 5px;
    margin-left: 9px;
}

.tiempoES {
    margin-left: 380px;
    margin-top: -60px;
}

.tiempoPPC {
    margin-left: 380px;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.212);
    background-color: #fff;
    color: #000;
}
/* ---------------------------------------------------- Seccion De Estadisticas ---------------------------------------------------- */
.contenido-estadisticas{
    grid-column: 3 / 13;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    margin-left: -60px;
    height: 150px;
    gap: 20px;
}

.encabezado i {
    color: #000;
}

.cards-ES {
    display: grid;
    grid-column: 1 / 13;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin-left: 30px;
    margin-top: 20px;
    gap: 40px;
}

.cards-ES i {
    color:#000;
}

.lista-clientes i {
    color: #000;
}

.card-ES {
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
    width: 250px;
    height: 100px;
}

.card-header-ES {
    font-size:16px;
    margin-left: 70px;
    margin-top: -55px;
}

.body {
    margin-top: 5px;
}


.stats {
    font-size: 0.7rem;
    margin-left: 70px;
    margin-top: 5px;

}

.pp {
    color: lawngreen;
}

.pp i {
    color: lawngreen;
}

.icon1 {
    background-color: rgba(116, 247, 116, 0.39);
    width: 50px;
    height: 50px;
    margin-top: 7px;
    border-radius: 10px;
}

.icon2 {
    background-color: rgba(0, 128, 0, 0.075);
    width: 50px;
    height: 50px;
    margin-top: 7px;
    border-radius: 10px;
}

.icon3 {
    background-color: rgba(0, 128, 0, 0.082);
    width: 50px;
    height: 50px;
    margin-top: 7px;
    border-radius: 10px;
}

.icon4 {
    background-color: rgba(0, 128, 0, 0.158);
    width: 50px;
    height: 50px;
    margin-top: 7px;
    border-radius: 10px;
}

.icon1 i {
    color: green;
    font-size: 30px;
    margin-left: 16px;
    margin-top: 10px;
}

.icon2 i {
    color: green;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 11px;
}


.icon3 i {
    color: green;
    font-size: 30px;
    margin-left: 12px;
    margin-top: 9px;
}


.icon4 i {
    color: green;
    font-size: 30px;
    margin-left: 8px;
    margin-top: 10px;
}

.graficas {
    display: grid;
    grid-column: 1 / 13;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
    margin-left: 20px;
}

.graficoVG {
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    width: 700px;
    height: 300px;
}

.graficoVG li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}


.graficoVPC {
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    width: 700px;
    height: 300px;
}


.graficoVPCA {
    box-shadow: 0 0px 7px rgba(0, 0, 0, 0.212);
    border-radius: 10px;
    width: 700px;
    height: 300px;
}


.tiempoVG {
    margin-top: -120px; 
    margin-left: 580px;
}


.tiempoVPC {
    margin-top: -120px; 
    margin-left: 580px;
}


.tiempoVPCA {
    margin-top: -120px; 
    margin-left: 580px;
}

.panel-clientes {
    /* margin-top: -500px; */
}
/* ================= BARRA DE CONFIGURACIÓN ================= */
.nav-Config{
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 12px rgba(0,0,0,.15);
    padding: 20px 15px;
    position: fixed;
    margin-left: 159px;
    height: 100%;
    z-index: 1;
}

.nav-Config ul{
    list-style: none;
    text-align: center;
}

.nav-Config li:first-child{
    margin-top: 55px;
}

.nav-Config a{
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 17px;
    font-weight: 500;
    padding: 14px 18px;
    margin-bottom: 10px;
}
.config-principal {
    grid-column: 5 / 12;
    margin-top: 36px;
    width: 100%;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.nav-Config a:hover{
    background: #f2f2f2;
    color: #000;
}
/* Opción seleccionada */
.nav-Config .activo a{
    background: #E9DCC4;
    color: #000;
    font-weight: bold;
}

/* =================== RESPALDOS =================== */
#respaldos{
    grid-column: 5 / 12;
    left: 580px;
    margin-top: 36px;
    width: 100%;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.contenido-config {
    grid-column: 5 / 12;
    left: 580px;
    margin-top: 36px;
    width: 100%;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.acercaDe {
    grid-column: 5 / 12;
    left: 580px;
    margin-top: 36px;
    width: 100%;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.acercaDe h1,h2 {
    margin-bottom: 10px;
}

.acercaDe article {
    margin-bottom: 35px;
}

#respaldos h1{
    font-size: 22px;
    margin-bottom: 18px;
}

#respaldos label{
    font-size: 14px;
    font-weight: bold;
}

#respaldos input{
    width: 100%;
    height: 35px;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    margin-bottom: 10px;
}

#respaldos button{
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 6px;
    background: #3B82F6;
    color: white;
    font-size: 14px;
    cursor: pointer;
}